<template>
  <v-card class="summarizer">
    <div class="summarizer-title">{{ title }}</div>
    <div class="summarizer-value">
      <v-icon v-if="icon" :color="color">{{ icon }}</v-icon>
      <span :style="{ color: color }">
        {{ value }}
      </span>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    title: { type: String },
    value: { type: String },
    icon: { type: String, required: false },
    color: { type: String, default: "primary" },
  },
};
</script>

<style lang="scss" scoped>
.summarizer {
  text-align: center;
}

.summarizer-value {
  color: #0273c3;
  font-size: 24px;
}

.summarizer-title {
  font-weight: bold;
}
</style>
