<template>
  <div ref="elemento">
    <v-subheader ref="subheader">
      {{ title }}
      <v-divider class="ml-2"></v-divider>
      <v-icon @click="isOpen = !isOpen">expand_more</v-icon>
    </v-subheader>
    <div v-if="isOpen" class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: { type: String },
  },
  data() {
    return { isOpen: true };
  },

  beforeCreate() {
    console.log("before-create", this.$refs.elemento);
  },

  created() {
    console.log("created", this.$refs.elemento);
  },

  beforeMount() {
    console.log("before-mount", this.$refs.elemento);
  },

  mounted() {
    console.log(
      "mounted",
      this.$refs.elemento,
      this.$refs.subheader,
      this.$refs.subheader.$el
    );
  },
};
</script>
